<!DOCTYPE html>
<html lang="en">

<head>
    <title>BREAD</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>BREAD ( Browse, Read, Edit, Add, Delete )</h1>
    <h2>Filters</h2>
    <div class="container">
        <form action="" method="get">
            <input type="hidden" name="page" value="1">
            <div class="row">
                <div class="col-20">
                    <input type="checkbox" id="checkboxID" name="checkboxID" <%=query.checkboxID ? "checked" : "" %>>
                    <label for="id">ID</label>
                </div>
                <div class="col-80">
                    <input type="number" id="id" name="id" placeholder="ID" value="<%= query.id %>">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <input type="checkbox" id="checkboxString" name="checkboxString" <%=query.checkboxString ? "checked"
                        : "" %>>
                    <label for="string">String</label>
                </div>
                <div class="col-80">
                    <input type="text" id="string" name="string" placeholder="String" value="<%= query.string %>">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <input type="checkbox" id="checkboxInteger" name="checkboxInteger" <%=query.checkboxInteger
                        ? "checked" : "" %>>
                    <label for="integer">Integer</label>
                </div>
                <div class="col-80">
                    <input type="number" id="integer" name="integer" placeholder="Integer" value="<%= query.integer %>">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <input type="checkbox" id="checkboxFloat" name="checkboxFloat" <%=query.checkboxFloat ? "checked"
                        : "" %>>
                    <label for="float">Float</label>
                </div>
                <div class="col-80">
                    <input type="number" step="any" id="float" name="float" placeholder="Float"
                        value="<%= query.float %>">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <input type="checkbox" id="checkboxDate" name="checkboxDate" <%=query.checkboxDate ? "checked" : ""
                        %>>
                    <label for="date">Date</label>
                </div>
                <div class="col-80">
                    <div class="tanggal">
                        <input placeholder="Start Date" name="startDate" type="text" onfocus="(this.type='date')"
                            onblur="(this.type='text')" id="date" style="width: 20%; margin-bottom: 0px;" value="<%= query.startDate %>" />
                        <div class="dtTo">to</div>
                        <input placeholder="End Date" name="endDate" type="text" onfocus="(this.type='date')"
                            onblur="(this.type='text')" id="date" style="width: 20%; margin-top: 0px;" value="<%= query.endDate %>" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <input type="checkbox" id="checkboxBoolean" name="checkboxBoolean" <%=query.checkboxBoolean
                        ? "checked" : "" %>>
                    <label for="Boolean">Boolean</label>
                </div>
                <div class="col-80">
                    <select name="boolean" id="boolean">
                        <option value="">Choose the boolean...</option>
                        <option value="true" <% if (query.boolean=="true" ) { %>selected<% } %>>True</option>
                        <option value="false" <% if (query.boolean=="false" ) { %>selected<% } %>>False</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="search">Search</button>
            </div>
        </form>
    </div>
    <div class="table">
        <table id="table">
            <tr>
                <th>ID</th>
                <th>String</th>
                <th>Integer</th>
                <th>Float</th>
                <th>Date</th>
                <th>Boolean</th>
                <th>Actions</th>
            </tr>
            <% data.forEach((item, index)=> { %>
                <tr>
                    <td>
                        <%= offset + index + 1 %>
                    </td>
                    <td>
                        <%= item.breadStr %>
                    </td>
                    <td>
                        <%= item.breadInt %>
                    </td>
                    <td>
                        <%= item.breadFloat %>
                    </td>
                    <td>
                        <%= item.tanggal %>
                    </td>
                    <td>
                        <%= item.breadBoolean %>
                    </td>
                    <td>
                        <a class="edit" href="/edit/<%= item.id %>">Edit</a>
                        <a class="delete" href="/delete/<%= item.id %>">Delete</a>
                    </td>
                </tr>
                <% }) %>
        </table>
        <div class="row">
            <a class="search" href="/add">Add</a>
        </div>
        <div class="pagination">
            <% if (page > 1) { %>
                <a href="<%= url.replace(`page=${page}`, `page=${page-1}`) %>">&laquo;</a>
            <% } %>
            
            <% for (let i = 1; i <= pages; i++) { %>
                <a class="<%= page == i ? 'active' : '' %>" href="<%= url.replace(`page=${page}`, `page=${i}`) %>">
                    <%= i %>
                </a>
            <% } %>
            
            <% if (page < pages) { %>
                <a href="<%= url.replace(`page=${parseInt(page)}`, `page=${parseInt(page)+1}`) %>">&raquo;</a>
            <% } %>
        </div>
    </div>
</body>

</html>